* {
    border: 1px solid blue;
}

body {
    display: flex;
    height: 500px;
}

#container {
    display: flex;
    justify-content: center;
}

.grid {
    border: 1px solid blue;
    height: 500px; 
    width: 50px;
    background-color: yellow;
}