* {
    border: 1px solid blue;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    gap: 0px;
    height: 500px;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid {
    min-width: 24%;
    background-color: yellow;
}

.hover {
    background-color: red;
}
